
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.selected {
    background: lightblue;
}

.tooltip-style {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: lightyellow;
    color: gray;
}

ul {
    list-style: none;
}


#tabs {
    width: 700px;
    margin: 0px auto;
}

#students {
    padding: 10px;
}

.container {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    padding: 10px;
}

#pre-final-list,
#final-list {
    width: 230px;
    padding: 0px;
}

#pre-final-list li:hover,
#final-list li:hover {
    cursor: pointer;
}

#final-list,
#students .container:last-child h2 {
    margin-left: 80px;
}

#transfer-students {
    display: inline-block;
    width: 27px;
    margin-top: 40px;
}

#btn-transfer-right {
    margin-bottom: 5px;
}

#grades div {
    width: 300px;
}

#grades span {
    display: inline-block;
    margin-bottom: 10px;
}

#dialog-add-student input {
    display: block;
    margin: 0px auto 10px auto;
}

#dialog-add-student {
    display: none;
}