/*=== CLEARFIX ===*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}

#social {
	list-style: none;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	width: 330px;
}

#social li {
	display: block;
	float: left;
	background-repeat: no-repeat;
	margin-left: 5px;
	width: 50px;
	height: 50px;
	border-radius: 10px;
}

#social li a {
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
}

#social li a strong {
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 3px;
	left: 15px;
	top: -1px;
	position: relative;
	padding: 3px;
	display: inline;
}

li.facebook {
	background-image: url("img/fb.png");
	background-size: 50px 50px;
}

li.twitter {
	background-image: url("img/twitter.png");
	background-size: 50px 50px;
}

li.instagram {
	background-image: url("img/instagram.png");
	background-size: 50px 50px;
}

li.linkedin {
	background-image: url("img/linkedin.png");
	background-size: 50px 50px;
}

li.googleplus {
	background-image: url("img/gplus.png");
	background-size: 50px 50px;
}

li.tumblr {
	background-image: url("img/tumblr.png");
	background-size: 50px 50px;
}