* {
    padding: 0px;
    font-family: arial;

}

h2 {
    max-width: 350px;
}

ul {
    list-style: none;
}

li {
    min-height: 50px !important;
    max-width: 350px;
    overflow: hidden;
}

img {
    display: inline-block;
    max-width: 30%;

}

.container {

}

.results_container {
    width: 750px;

}

.details {
    clear: right;
    margin-top: -55px;
    margin-left: 5px;
    display: inline-block;
    max-width: 65%;
    vertical-align: middle;
}

.outerDiv {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.results_list {

    max-height: 600px;

}

.favorites_list {

    max-height: 600px;

}

.results {
    width: 360px;
    max-height: 600px;
    min-height: 160px;
    margin-left: 30px;
    display: inline-block;
    float: left;
    overflow: scroll;
}

.favorites {
    width: 360px;
    display: inline-block;
    max-height: 600px;
    overflow: scroll;
    margin-left: 30px;

}

.result_container {

    width: 800px;
    padding: 10px;
}

.nav_container {
    margin-bottom: 20px;
}

.global_navigation {
    width: 100%;
    background: #1f1f1f;
    color: white;
    font-size: 25px;
    font-family: Verdana, sans-serif;
}

.global_nav_button {
    padding: 5px;
    background: #8f8f8f;
}

.active {
    padding: 5px;
    background: #2e2e2e;
    cursor: pointer;
    color: #FE2E2E;
}

.global_nav_button:hover {

    background: #2e2e2e;
    cursor: pointer;
    color: #FE2E2E;
}

.the_icons {
    height: 100px;
    padding: 0px;
}

#error {
    margin-bottom: 10px;
    color: red !important;
}

/* SOCIAL ICONS - GENERAL */
.social {
    list-style: none;
    width: 464px;
}

.social li {
    display: inline;
    float: left;
    background-repeat: no-repeat;
    min-width: 50px;
    min-height: 50px;
}

.social li a {
    display: block;
    width: 48px;
    height: 48px;
    padding-right: 10px;
    text-decoration: none;
}

li.delicious {
    background-image: url("../images/delicious.png");
}

li.digg {
    background-image: url("../images/digg.png");
}

li.facebook {
    background-image: url("../images/facebook.png");
}

li.flickr {
    background-image: url("../images/flickr.png");
}

li.linkedin {
    background-image: url("../images/linkedin.png");
}

li.reddit {
    background-image: url("../images/reddit.png");
}

li.rss {
    background-image: url("../images/rss.png");
}

li.twitter {
    background-image: url("../images/twitter.png");
}

.ui-selected {
    border: 4px solid lime;
}

.ui-widget-content {
    background-repeat: no-repeat !important;
    background-position: center;
}

.email_insert {
    display: none;
}

#error {
    display: none;
}

.share_dialog,
#share_interface {
    display: none;
}

.favorites_list,
.results_list {
    width: 300px;
}

.favorites_list li,
.results_list li {
    margin-bottom: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .03), 0 1px 4px 0 rgba(0, 0, 0, .048), 0 3px 1px -2px rgba(0, 0, 0, .12);
}

.favorites_list li:hover,
.results_list li:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item {
    background-color: #eee;
    padding: 10px

}

.item-title {
    display: block;
    font-size: medium;
}

.item a {
    display: block;
}

.item-published {
    display: block;
    color: grey;
    font-style: italic;
    font-size: small;
}

.selected {
    border: 2px solid green;
}

.sent-item {
    display: block;
    margin-bottom: 5px;
    background-color: #eee;
}