body {
    font-family: Arial, Helvetica, sans-serif;
}

#tabs > ul {
    margin-bottom: 30px;
}

ul {
    list-style: none;
}

#learning-cpp,
#learning-java,
#learning-jquery {
    display: inline-block;
    width: 500px;
    margin-left: 30px;
    margin-right: 50px;
    background: #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#favourite-videos {
    display: inline-block;
    width: 500px;
    vertical-align: top;
    padding: 20px;
    background: lightgreen;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#learning-cpp ul li,
#learning-java ul li,
#learning-jquery ul li,
#favourite-videos ul li {
    margin-bottom: 25px;
}

.video-title {
    margin: 5px 0px;
}

.video-published-at {
    margin: 0px;
}

.tooltip-video {
    font-size: small;
}