body {
    background-color: #ece8e5;
    padding: 0px;
    margin: 0px;
}

nav {
    position: fixed;
    background: #455868;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    margin-bottom: 30px;

}

nav ul {
    list-style: none;
    width: 612px;
    height: 40px;
    margin: 0px auto;
    padding-left: 0px;
}

nav ul li {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    border-right: 1px solid #576979;

}

nav ul li:last-child {
    border-right: none;
}

nav ul li:hover {
    background-color: #8c99a4;
    cursor: pointer;
}

#menu {
    display: none;
}

#menu img:hover {
    cursor: pointer;
}

/*
===============================================================================
STYLE: ITEMS SECTION
===============================================================================
*/

#items {
    width: 1350px;
    margin: 0 auto;
}

.card-item {
    display: inline-block;
    width: 250px;
    height: 300px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .03), 0 1px 4px 0 rgba(0, 0, 0, .048), 0 3px 1px -2px rgba(0, 0, 0, .12);
    background-color: white;
    margin: 0 10px 20px 10px;
}

.card-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-item-desc {
    padding: 10px 10px 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: darkslategray;
}

.deal-poster {
    width: 100%;
    height: 50%;
}

.deal-title {
    display: block;
    margin: 0px 0px 10px 0px;
    height: 75px;
    text-decoration: none;
    font-weight: bold;
    color: darkslategray;
}

.deal-dates {
    width: 120px;
    display: inline-block;
    margin-right: 80px;
}

.deal-dates label {
    display: block;
    font-size: small;
    background-color: #eee;
}

.deal-dates label:first-child {
    margin-bottom: 5px;
}

.deal-dates small {
    display: inline-block;
    width: 30px;
    padding: 3px;
    font-weight: bold;
}

.deal-dates label[title='from-date'] small {
    color: green;
}

.deal-dates label[title='to-date'] small {
    color: darkred;
}

#ico-fb-share img {
    width: 25px;
    opacity: 0.7;
}

#ico-fb-share img:hover {
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 1390px) {
    #items {
        width: 1080px;
    }
}

@media screen and (max-width: 1120px) {
    #items {
        width: 810px;
    }
}

@media screen and (max-width: 845px) {
    #items {
        width: 540px;
    }
}

@media screen and (max-width: 611px) {
    nav ul  {
        position:absolute;
        display: none;
        width: 120px;
        margin: 0;

    }

    nav ul li {
        display: block;
        text-align: left;
        padding-left: 20px;
        background: #455868;
        border: none;
    }

    #menu {
        display: block;
    }

    #menu img {
        margin-left: 20px;
        vertical-align: middle;
    }

}

@media screen and (max-width: 540px) {
    #items {
        width: 100%;
    }

    .card-item {
        display: block;
        margin: 0 auto 15px auto;
    }
}







