.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.selected {
    background: lightblue;
}

ul {
    list-style: none;
}

#tabs {
    width: 1000px;
    margin: 0px auto;
    padding: 10px;
}

#students,
#passed-students,
#grades {
    padding: 10px;
}

#student-command-bar {
    height: 29px;
    padding: 8px;
    border-radius: 2px;
    margin-top: 15px;
    margin-bottom: 20px;
}

/*
===============================================================================
STYLE: STUDENTS TABLE
===============================================================================
*/
#table-students {
    width: 980px;
    table-layout: fixed;
    border-collapse: collapse;
}

#table-students thead {
    font-size: 13px;
}

/* Zebra striping */
#table-students tr:nth-of-type(odd) {
    background: lightgray;
}

#table-students th,
#table-students td {
    padding: 6px;
    text-align: center;
    border: 1px solid gray;
}

#table-students th:nth-child(2),
#table-students th:nth-child(3),
#table-students td:nth-child(2),
#table-students td:nth-child(3) {
    text-align: left;
}

#table-students th {
    text-align: center;
    background: #333;
    color: white;
    font-weight: bold;
    height: 15px;
}

#table-students tbody td {
    height: 30px;
}

#table-students th:hover {
    cursor: pointer;
}

#table-students tbody tr:hover {
    background: lightsteelblue;
    cursor: pointer;
}

#table-students th:nth-child(6),
#table-students th:nth-child(7),
#table-students th:nth-child(8),
#table-students td:nth-child(6),
#table-students td:nth-child(7),
#table-students td:nth-child(8)  {
    width: 60px;
}

#table-students td:nth-child(4),
#table-students th:nth-child(4) {
    width: 50px;
}

#table-students td:nth-child(5),
#table-students th:nth-child(5) {
    width: 130px;
}

#table-students td:nth-child(1),
#table-students th:nth-child(1) {
    width: 70px;
}


/*
===============================================================================
STYLE BUTTONS
===============================================================================
*/
#btn-add-student {
    border: 1px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: whitesmoke;
    height: 35px;
    background: linear-gradient(to top, grey, darkgray);
    border-radius: 3px;
}

#btn-add-student {
    margin-right: 770px;
}

#btn-add-student:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, grey, darkgray);
}

#btn-save-changes:hover {
    cursor: pointer;
}

#btn-save-changes {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: darkslategray;
    height: 35px;
    background: lightgreen;
    display: none;
}




#grades div {
    width: 300px;
}

#grades span {
    display: inline-block;
    margin-bottom: 10px;
}

#dialog-add-student input {
    display: block;
    margin: 0px auto 10px auto;
}

#dialog-add-student {
    display: none;
}

.signature input {
    display: block;
    margin: 0px auto;
}

.edit-input-field {
    width: 90%;
    background: #eee;
}

.alert {
    background: coral !important;
}