table {
    border: 1px solid grey;
    padding: 10px;
}

input[type="button"] {
    margin-bottom: 10px;
}

tr {
    margin-bottom: 10px;
}

tr:hover {
    cursor: pointer;
}

.row-selected {
    background-color: lightblue;
}

.row-hovered {
    background: lightgrey;
}
