body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    background-color: #f9fbff;
}

dialog#add-film {
    padding: 0px;
}

dialog#add-film input {
    display: block;
    margin: 25px auto 0px auto;
    height: 30px;
}

#films {
    width: 327px;
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
}


.selectee {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid grey;
    width: 250px;
    border-radius: 4px;
}

.selectee:hover {
    cursor: pointer;
    background-color: lightblue;
    box-shadow: 5px 5px 5px grey;
}

#btn-add-film {
    opacity: 0.7;
    width: 25px;
    display: block;
    margin: 5px auto;
}

#btn-add-film:hover {
    cursor: pointer;
    opacity: 1;
}

#film-details {
    width: 350px;
    border: 1px solid black;
    display: none;
    padding: 30px 20px;
    background-color: #eee;
    border: 1px solid #d0dbed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#film-details label {
    text-align: right;
    vertical-align: top;
    display: inline-block;
    width: 70px;
    height: 15px;
    color: darkgray;
    margin-right: 20px;
}

.film-label {
    display: inline-block;
    width: 72%;
    font-size: 16px;
    margin-bottom: 15px;
    color: darkslategray;
}

/*TABLE*/
#table-films {
    width: 200px;
    table-layout: fixed;
    border-collapse: collapse;
}
/* Zebra striping */
#table-films tr:nth-of-type(odd) {
    background: #eee;
}
#table-films tr:nth-of-type(even) {
    background: white;
}
#table-films th {
    background: #333;
    color: white;
    font-weight: bold;
}
#table-films td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

#table-films th:first-child,
#table-films td:first-child {
    width: 250px;
}

#table-films th:hover {
    cursor: pointer;
}

#table-films td:first-child:hover {
    cursor: pointer;
}

#table-films tr:hover {
    background-color: lightblue;
}

#table-films th:last-child,
#table-films td:last-child {
    width: 50px;
}

#img-poster {
    display: block;
    margin: 10px auto 0px auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: 0.3s;
}

#img-poster:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.ui-widget-overlay {
    opacity: 1;
}
