div#folder {
    background-color: bisque;
    width: 400px;
    height: 200px;
    border-radius: 15px;
    border: 6px solid burlywood;
    padding: 20px;
    margin-right: 50px;
    display: inline-block;
}

div#folder img {
    display: inline-block;
    width: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
}

div#folder img:last-child {
    margin-right: 0px;
}

img#trash {
    width: 80px;
}

img#restore {
    width: 50px;
    opacity: 0.4;
}

img#restore:hover {
    opacity: 1;
}

#cmd {
    margin-top: 30px;
    position: fixed;
    display: inline-block;
}