label{
        display:  inline-block;
        width: 100px;
        margin: 5px;
   }
   input{
        width: 90px;
        margin: 5px;
   }
   li:hover{cursor: pointer;}
    .content{width:300px;background:#eef; padding: 5px; border:1px gray dotted; font-size: 1.4em;}
    .passed {width:100px; cursor: pointer; margin: 5px; padding: 5px; font-size: 1em; background: #9dc8e2; color: #fff;}
    .active {width:100px; cursor: pointer; margin: 5px; padding: 5px; font-size: 1em; background: #2184be; color: #fff;}
    .pending{width:100px; cursor: pointer; margin: 5px; padding: 5px; font-size: 1em; background: #eee; color: #aaa;}
    section{
      background:#eef;
    }
    #example-form div{
      width: 300px;
      display: inline-block;
      height: 200px;
    }

    #example-form div section {
      height: 120px;
      padding: 10px;
    }

    #example-form {
      margin-bottom: 10px;
    }

    #content {
      width: 300px;
      margin: 0px auto;
    }