ul {
    display: inline-block;
    border: 1px solid grey;
    list-style: none;
    padding: 10px;
    vertical-align: top;
    height: 150px;
    width: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}

ul li:hover {
    cursor: pointer;
}

div#btns {
    display: inline-block;
    margin: 0px 0px auto 3px;
}

#btn-add,
#btn-remove {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

div#content {
    display: inline-block;
    padding: 30px;
    /*border: 1px solid black;*/
}

/* === Selectable Plugin Classes === */
.selectable .ui-selecting {
    background: #feca40;
}

.selectable .ui-selected {
    background: #f39814;
    color: white;
}