.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    clear: both;
    *zoom: 1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#search-nav {
    height: 50px;
    background-color: darkred;
    line-height: 50px;
}

#search-container {
    width: 300px;
    margin: 0 auto;
}

#content {
    display: block;
    width: 950px;
    margin: 0 auto;
}

ul {
    list-style: none;
    display: inline-block;
    width: 400px;
    padding: 20px;
    vertical-align: top;
}

ul:first-child {
    margin-right: 40px;
}

#social-buttons {
    float: left;
    margin-top: 50px;
}

#social-buttons img {
    width: 30px;
    display: block;
    margin-bottom: 10px;
}

#detais-view {
    width: 520px;
    margin: 0 auto;
    background: #eee;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title {
    height: 45px;
    color: darkslategrey;
    font-size: medium;
}

#desc {
    height: 60px;
    color: dimgray;
    font-size: small;
}

#fav-list {
    display: none;
    background: lightgreen;
}

#details-view-buttons div {
    width: 160px;
    margin: 0 auto;
}

#btn-back {
    background-color: darkred;
    color: whitesmoke;
    padding: 5px;
    width: 50px;
    border: none;
    margin-left: 10px;
    margin-bottom: 10px;
}

#btn-prev,
#btn-next {
    margin-top: 6px;
    background-color: inherit;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
}

#detais-view span {
    font-size: medium;
    font-weight: bold;
    color: darkred;
    background-color: lightgrey;
    padding: 3px;
    margin-right: 5px;
}

#library-header {
    background-color: darkred;
    padding: 10px;
    height: 35px;
    line-height: 35px;
}

#detais-view h2 {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

#detais-view h3 {
    margin-bottom: 10px;
}

#video-info {
    padding: 20px;
}

#btn-prev {
    float: left;
}

#btn-next {
    float: right;
}