body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

#content {
    display: block;
    width: 1000px;
    margin: 0px auto;
    padding: 0px 5px;
}

#table-music-list {
    border-collapse: separate;
    border-spacing: 0 0.7em;
    width: 1000px;
    display: none;
}

#table-music-list th,
#table-music-list td {
    width: 95px;
    font-weight: bold;
    text-align: center;
}

#table-music-list th {
    padding: 10px;
}

#table-music-list td {
    color: #969696;
}

#table-music-list tbody tr {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .03), 0 1px 4px 0 rgba(0, 0, 0, .048), 0 3px 1px -2px rgba(0, 0, 0, .12);
}

#table-music-list tbody tr:hover {
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

#table-music-list th:nth-child(2),
#table-music-list td:nth-child(2) {
    width: 400px;
}

#table-music-list td:first-child,
#table-music-list td:first-child {
    width: 100px;
}

#table-music-list td:nth-child(2) {
    padding-top: 3px;
    color: rgb(51, 103, 214);
}

#table-music-list td:nth-child(2) {
    text-align: left;
    padding-left: 10px;
}

#table-music-list thead {
    background-color: darkred;
    color: whitesmoke;
    font-size: small;
}

#table-music-list tbody tr {
    background-color: white;
}

#table-music-list th:hover {
    cursor: pointer;
}

#table-music-list td {
    height: 90px;
    padding: 0px;
}

#table-music-list tbody {
    font-size: small;
}