body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    background-color: #fcfdff;
}

section#commands {
    width: 200px;
    margin: 20px auto;
}

section#users {
    padding: 0px;
    width: 900px;
    display: none;
    margin: 0px auto;
}

/*
===============================================================================
TABLE STYLE
===============================================================================
*/
#users-table {
    width: 900px;
    table-layout: fixed;
    margin: 0px 0px 5px 20px;
    border-collapse: collapse;
}
/* Zebra striping */
#users-table tr:nth-of-type(odd) {
    background: #eee;
}

#users-table tr:nth-of-type(even) {
    background: white;
}

#users-table td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
    width: 200px;
    height: 25px;
}

#users-table th {
    background: #333;
    color: white;
    font-weight: bold;
}

#users-table tbody tr:hover {
    background: #adbedb;
}

#users-table td:last-child,
#users-table th:last-child {
    background-color: #fcfdff;
    border: none;
    width: 60px;
}

#users-table td:nth-child(2), th:nth-child(2) {
    width: 400px;
}

/*
===============================================================================
BUTTONS STYLE
===============================================================================
*/

#commands button {
    width: 90px;
    height: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
    border: black;
    font-weight: bold;
    vertical-align: top;
    color: #f2f5f9;
}

#commands button:first-child {
    margin-right: 15px;
}

#commands button:hover {
    cursor: pointer;
    color: white;
}

#btn-add-user-icon {
    display: block;
    margin: 0px auto;
    width: 35px;
    opacity: 0.7;
}

#btn-add-user-icon:hover {
    cursor: pointer;
    opacity: 1;
}

.btn-edit-user,
.btn-del-user {
    width: 20px;
}

.btn-edit-user {
    margin-right: 5px;
}

.btn-edit-user:hover,
.btn-del-user:hover {
    cursor: pointer;
}

/*
===============================================================================
TOOLTIP STYLE
===============================================================================
*/
.tooltip-style {
    font-size: small;
    box-shadow: none;
    border-radius: 10px;
    font-style: italic;
}

/*
===============================================================================
DIALOGS STYLE
===============================================================================
*/

dialog {
    display: none;
}

dialog input {
    display: block;
    width: 250px;
    margin: 0px auto 10px auto;
}

dialog input:first-child {
    margin-top: 10px;
}

dialog small {
    font-size: small;
    display: block;
    width: 250px;
    margin: 0px auto 10px auto;
}

#confirm-del-name {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}