body {
    font-family: "Times New Roman", Times, serif;
}

form {
    margin-top: 50px;
    border: 1px solid black;
    padding: 30px;
    padding-top: 10px;
    width: 550px;
    margin: 0px auto;
    background-color: lightgray;
    border-radius: 5px;
}

form input {
    width: 200px;
    margin: 5px;
}

form input[name='gender'] {
    width: 20px;
    margin-right: 0px;
}

form input[name='category'] {
    margin-right: 0px;
    margin-left: 0px;
    width: 20px;
}

fieldset {
    color: black;
    padding: 10px;
}

fieldset#movie div {
    display: inline-block;
    width: 120px;
}

fieldset#movie span {
    display: inline-block;
    color: black;
    width: 80px;
}

form label {
    display: inline-block;
    width: 150px;
    font-size: 15px;
    text-align: end;
    margin-right: 10px;
}

form h4 {
    text-align: center;
}

fieldset {
    border-radius: 5px;
    margin-bottom: 30px;
}

fieldset:last-child {
    margin-bottom: 0px;
}

#progressbar {
    display: none;
    width: 100px;
    height: 10px;
}

.tooltip-style {
    box-shadow: none;
    border-radius: 10px;
    font-size: small;
    font-style: italic;
}

.checked-img {
    display: none;
    width: 20px;
}

.checked-img img {
    width: 20px;
}

#submit-btn {
    display: block;
    width: 120px;
    height: 35px;
    background: linear-gradient(to bottom, orangered , orange);
    color: black;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    margin: 0px auto;
    display: none;
}

#submit-btn:hover {
    background: linear-gradient(to bottom, orange , orangered);
}

#fake-submit-btn {
    width: 115px;
    height: 28px;
    background-color: lightyellow;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    color: lightgray;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    margin: 0px auto;
    /*display: none;*/
}

#fake-submit-btn:hover {
    cursor: default;
}

#talkbubble {
    width: 200px;
    height: 80px;
    background: linear-gradient(to bottom, indianred , coral);
    display: none;
    float: right;
    padding: 15px;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}
#talkbubble:before {
    content:"";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid indianred;
    border-bottom: 13px solid transparent;
}

